<a href="https://colab.research.google.com/github/bharghavvuppu/Html_basic_project/blob/main/pythonbasics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello')

hello

In [4]:
#hello hi

indentation

In [8]:
if 6<9:
  print('true')
else:
    print('false')

true

In [10]:
#variables
a=7
b='hello'
print(a,b)

7 hello

In [15]:
#casting variables
a=5
print(type(a))
b=str(a)
print(type(b))
c='hello'
print(type(c))

<class 'int'>
<class 'str'>
<class 'str'>

In [17]:
#many values to multiple variables
x,y,z='mango','banana','apple'
print(x)
print(y)
print(z)

mango
banana
apple

In [19]:
#one value to multiple variables
x=y=z=3
print(y)
print(x)

3
3

In [32]:
#output variables
a=str(12)
print('my lucky number is: '+ a)

a='abhi'
b=str(12)
print('my name is:' + a + ' and my luckky no. is:' + b)

my lucky number is: 12
my name is:abhi and my luckky no. is:12

In [50]:
# text data type
a='bob'
print(type(a))
#int data type
b=12
print(type(b))
#float data type
c=8.97
print(type(c))
#boolean type
a=bool(3)
print(a)
#comlex no.
a=2j+3
print(type(a))

#mapping data type
mydict={'a':1,'b':2}
print((mydict))

#set type
myset=set(('a','g'))
print(myset)

<class 'str'>
<class 'int'>
<class 'float'>
True
<class 'complex'>
{'a': 1, 'b': 2}
{'a', 'g'}

In [57]:
#list and tuples and range
mylist=[1,2,3,'abc',1.9]
print(type(mylist))

mytuple=(1,2,3,'abc')
print(type(mytuple))

for i in range(1,10,2):
  print(i)

<class 'list'>
<class 'tuple'>
1
3
5
7
9

In [62]:
#type conversions
a=1
b=2.5
c=10
x=float(a)
print(x)
y=int(b)
z=float(c)
print(y,z)

1.0
2 10.0

In [83]:
#string
a='hello'
print(type(a))

#assign str to var
myvar='bob'
print(myvar)

#strings are arry
a='hello'
print(a[0])

#loop in string"'
for i in 'banana':
  print(i,end=',')

<class 'str'>
bob
h
b,a,n,a,n,a,ello w

In [88]:
#slicing string
c= 'hello world'
print(c[1:7])
print(c[0:])
print(c[1:4])

ello w
hello world
ell

In [92]:
print('hello what is your name')
name=input()
print('hello welcome '+ name)

hello what is your name
bob
hello welcome bob

In [105]:
#string methods

#uppercase
print('type your name in small letters')
name=input()
print(name.upper())

#lowr case
print('type your name in capital')
nmae=input()
print('your name is: ' + name.lower())

#replace
print('type cat')
name=input()
print('replaced cat with dog: '+ name.replace('cat','dog'))

#string formating 
string='im a {}'
print(string.format('bob'))

type your name in small letters


type your name in capital

your name is:
type cat

replaced cat with dog:
['hello world  hi this is ']